/* border Colors - Extracted by DesignAssets */
:root {
  --border-color-1: #E2E8F0;
  --border-color-2: #0F172A;
  --border-color-3: #334155;
  --border-color-4: #FB923C;
  --border-color-5: #1E293B;
  --border-color-6: #020817;
}