/* text Colors - Extracted by DesignAssets */
:root {
  --text-color-1: #0F172A;
  --text-color-2: #FF5722;
  --text-color-3: #FFFFFF;
  --text-color-4: #CBD5E1;
  --text-color-5: #64748B;
  --text-color-6: #000000;
  --text-color-7: #94A3B8;
  --text-color-8: #020817;
  --text-color-9: #7C3AED;
  --text-color-10: #475569;
  --text-color-11: #DDD6FE;
}